.part-4 div {
             text-align: center; border:0; background-image: url(https://blackrockdigital.github.io/startbootstrap-stylish-portfolio/img/bg-callout.jpg);
             height: 1000px; background-position: center left 70%; transform: translate; 
}
    

.card-text { font-size: 50px; font-weight: bold;
             padding-top: 400px; font-family: 'Fira Sans', sans-serif; 
}

.card-img { 
             height: 500px;
             
}
