

.part-3 .services {
    text-align: center;
    color: yellowGreen;
}

.part-3 .lead {
    text-align: center;
    color: White;
}

.part-3 .jumbotron {
    background-color: rgb(28,128,159);
}

.part-3 .iconz {
    background-color: white;
    height: 50px;
    width: 50px;
    border: 0;
    border-radius: 25px;
}

.part-3 .under-button {
    line-height: 0.25;
    color: white;
}

.part-3 .small-text {
    font-size: 10px;
}

.part-2 .display-4 {
        font-size: 20px;
        color: black;
    }

.part-2 .subhead {
    font-size: 12px;
    color: black;
}

.part-2 .btn {
    font-size: 10px;
    padding: 18px;
}
